body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  position: relative;
}

header  hgroup{
  background-color: #2e7d32;
  color: white;
  padding: 1.5em;
}

nav{
  background-color: #1b5e20;
  display: flex;
  justify-content: space-evenly;
  /* position: sticky;
  top: -1px; */
}

article header{
  background-color: #40a445;
  color: white;
  padding: 1.5em;
}

nav ul{
  display: flex;
  gap: 200px
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 1em;
}

nav li {
  display: inline;
  margin-right: 1em;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  gap: 2em;
  padding: 2em;
}

article {
  flex: 3;
  background: white;
  padding: 2em;
}

section {
  margin-bottom: 2em;
}

aside {
  flex: 1;
  background: #e8f5e9;
  padding: 1.5em;
}

figure {
  margin: 1.5em 0;
    display: flex;
      flex-flow: column;
}

img {
  max-width: 100%;
  height: auto;
}

figcaption {
  font-size: 0.9em;
  font: italic smaller sans-serif;
  margin-top: 0.5em;
}

figcaption {
  background-color: #222222;
  color: white;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

details {
  margin-top: 1em;
  padding: 0.5rem;
  background: #f1f8e9;
}

mark {
  background-color: yellow;
}

footer {
  background-color: #1b5e20;
  color: white;
  padding: 1.5em;
}

footer a {
  color: #c8e6c9;
}

dialog {
  border: none;
  background: #ffffff;
  box-shadow: 0 3px 10px rgba(77, 76, 76, 0.2);
  position: fixed;
  right: -1300px;
  bottom: 20px;
}

mark{
  background-color: #7efa84d2;
}